In [0]:
import pandas as pd
import numpy as np

In [0]:
csv_url ='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_csv(csv_url)
df.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

In [0]:
stud_alcoh = df.loc[: , "school":"guardian"]
stud_alcoh.head()

  school sex  age address famsize  ... Fedu     Mjob      Fjob  reason guardian
0     GP   F   18       U     GT3  ...    4  at_home   teacher  course   mother
1     GP   F   17       U     GT3  ...    1  at_home     other  course   father
2     GP   F   15       U     LE3  ...    1  at_home     other   other   mother
3     GP   F   15       U     GT3  ...    2   health  services    home   mother
4     GP   F   16       U     GT3  ...    3    other     other    home   father

[5 rows x 12 columns]

In [0]:
capitalizer = lambda x: x.capitalize()

In [0]:
stud_alcoh['Mjob'].apply(capitalizer)
stud_alcoh['Fjob'].apply(capitalizer)

0       Teacher
1         Other
2         Other
3      Services
4         Other
         ...
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

In [0]:
stud_alcoh.tail()

    school sex  age address famsize  ... Fedu      Mjob      Fjob  reason guardian
390     MS   M   20       U     LE3  ...    2  services  services  course    other
391     MS   M   17       U     LE3  ...    1  services  services  course   mother
392     MS   M   21       R     GT3  ...    1     other     other  course    other
393     MS   M   18       R     LE3  ...    2  services     other  course   mother
394     MS   M   19       U     LE3  ...    1     other   at_home  course   father

[5 rows x 12 columns]

In [0]:
def majority(x):
 if x > 17:
    return True
 else:
    return False
stud_alcoh['legal_drinker'] = stud_alcoh['age'].apply(majority)
stud_alcoh.head()

  school sex  age address  ...      Fjob  reason  guardian  legal_drinker
0     GP   F   18       U  ...   teacher  course    mother           True
1     GP   F   17       U  ...     other  course    father          False
2     GP   F   15       U  ...     other   other    mother          False
3     GP   F   15       U  ...  services    home    mother          False
4     GP   F   16       U  ...     other    home    father          False

[5 rows x 13 columns]

In [0]:
def times10(x):
 if type(x) is int:
    return 10 * x
    return x
stud_alcoh.applymap(times10).head(10)

  school   sex  age address famsize  ...  Mjob  Fjob  reason guardian legal_drinker
0   None  None  180    None    None  ...  None  None    None     None          None
1   None  None  170    None    None  ...  None  None    None     None          None
2   None  None  150    None    None  ...  None  None    None     None          None
3   None  None  150    None    None  ...  None  None    None     None          None
4   None  None  160    None    None  ...  None  None    None     None          None
5   None  None  160    None    None  ...  None  None    None     None          None
6   None  None  160    None    None  ...  None  None    None     None          None
7   None  None  170    None    None  ...  None  None    None     None          None
8   None  None  150    None    None  ...  None  None    None     None          None
9   None  None  150    None    None  ...  None  None    None     None          None

[10 rows x 13 columns]